body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding: 40px;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  background-color: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

thead {
  background-color: #f2f2f2;
}

th {
  font-weight: bold;
  color: #333;
}

td:first-child {
  font-weight: bold;
  text-align: left;
}

tbody tr:hover {
  background-color: #fafafa;
}